*{
  box-sizing: border-;
  font-family: 'Roboto', sans-serif;
}
:root{
  --primary: #B71c1c;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --white: #FFFFFF;
  --frontEnd: #4A148C;
  --backEnd: #880E4F;
}
html,
body{
  margin: 0;
  padding: 0;
}
a{
  color: inherit;
}

